.newsComp {
  background-image: url(../assets/img/news-comp-app.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 3px;
  margin: auto;
}

.ecomSite {
  background-image: url(../assets/img/ecom-site.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 3px;
  margin: auto;
}

@media (min-width: 976px) {
  .newsComp {
    width: 400px;
    height: 200px;
  }

  .ecomSite {
    width: 400px;
    height: 200px;
  }
}

@media (min-width: 1440px) {
  .newsComp {
    width: 500px;
    height: 250px;
  }

  .ecomSite {
    width: 500px;
    height: 250px;
  }
}
