@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }
}

body {
  background-color: "storm";
}

/* Toggle switch */
.toggledark {
  background-image: linear-gradient(#be375f, #d8a28c);
}

.togglelight {
  background-image: linear-gradient(#000, #000);
}

.second {
  position: relative;
}

.notch {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.second > .notch {
  transform: translate(30px, 0);
}


/* Fade up */
@media (min-width: 768px) {
  .animatefu {
    opacity: 0;
    transform: translateY(30px);
    transition: all 800ms ease-in-out;
  }
  .animatefu.appearfu{
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade left */
@media (min-width: 768px) {
  .animatefl {
    opacity: 0;
    transform: translateX(30px);
    transition: all 800ms ease-in-out;
  }
  .animatefl.appearfl{
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade down */
@media (min-width: 768px) {
  .animatefd {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 800ms ease-in-out;
  }
  .animatefd.appearfd{
    opacity: 1;
    transform: translateY(0)
  }
}

/* Fade right */
@media (min-width: 768px) {
  .animatefr {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 800ms ease-in-out;
  }
  .animatefr.appearfr {
    opacity: 1;
    transform: translateX(0);
  }
}